.header-logo {
  height: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #e9e9e9;
  text-align: center;
  display: flex;
  align-items: center;

  .search-container {
    margin: 5px auto;
  }

  .search-text {
    padding: 6px;
    font-size: 17px;
    border: none;
  }

  .search-container .search-btn {
    padding: 6px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;

    &:hover {
      background: #ccc;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;

    .search-text,
    .search-container .search-btn {
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }

    .search-text {
      border: 1px solid #ccc;
    }
  }
}
